.tabela{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}


.nameTable{
    text-align: center;
    border-bottom: 1px solid;
    height: 40px;
}

.corpo{
    display: flex;
    justify-content: space-around;
}

.box-minmax{
    display: flex;
    justify-content: space-around;
}

.meio{
    display: flex;
    flex-direction: column;
    flex: 0.7;
}

.grupo-folga-itens{
    display: flex;
    flex-direction: row;
}

.grupo-folga-itens .item{
    display: flex;
    flex-direction: column;
    width: 146px;
}
.esquerda{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.direita{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.min p{
    font-weight: bold;
}
.max p{
    font-weight: bold;
}